.logo {
  width: 120px;
  img {
    width: 100%;
  }

  @include respond(phone) {
    padding-bottom: 30px;
  }
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 45px;
  background-color: #141414d1 !important;
  position: fixed;
  width: 100%;
  z-index: 200;

  @include respond(phone) {
    flex-direction: column;
  }
}

::placeholder {
  color: #141414;
}

.barraInputButton:hover textarea {
  color: #ffffff;
}

.barraInputButton:hover ::placeholder {
  color: rgb(255, 255, 255);
  transition: all 2s;
}

textarea:focus,
input:focus {
  color: #ffffff;
}

.barraInputButton:hover input {
  width: 250px;
  transition: all 2s;
  border: 1px solid #727272;
}

.barraInputButton:hover .iconaLente {
  right: 389px;
  transition: all 2s;

  @include respond(phone) {
    right: 453px;
  }
}

.iconaLente {
  width: 23px;
  position: absolute;
  right: 208px;
  top: 32px;
  transition: all 2s;

  @include respond(phone) {
    right: 372px;
    top: 106px;
  }
}

.btnInvia {
  padding: 15px 40px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #f0f8ff00;
  border: 0.5px solid white;
  color: white;
}

.inputCerca {
  padding: 10px;
  padding-left: 45px;
  margin-right: 20px;
  border-radius: 50px;
  background-color: transparent;
  width: 68px;
  transition: all 2s;
  border: none;
  position: relative;
}
